* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    padding: 20px;
    display: flex;
}

.logo-container {
    height: 30px;
}

.logo {
    height: 100%;
}

.left-navbar {
    margin-left: 30px;
    display: flex;
}

.homepage-navbar {

}

.homepage-text {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.right-navbar {
    display: flex;
}

.homepage {
    height: 90vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: auto;
}

.card {
    width: 250px;
    height: 550px;
}

.image {
    height: 100%;
    border-radius: 20px;
    position: relative;
}

.buttons {
    z-index: 1;
    position: absolute;
}
